
<nz-layout>
  <nz-sider nzTheme="light">
    Sider
  </nz-sider>
  <nz-layout>
    <nz-header>
      <nz-breadcrumb>
        <nz-breadcrumb-item>
          <nz-icon nzType="home" />
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a>
            <nz-icon nzType="user" />
            <span i18n>Application List</span>
          </a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item i18n>Application</nz-breadcrumb-item>
      </nz-breadcrumb>

    </nz-header>
    <nz-content>
      <nz-page-header-title i18n>
        User management
      </nz-page-header-title>
      <nz-page-header-content>
        <div nz-row>
            <div class="content">
              <p nz-paragraph>Manage your team members and their account roles and permissions here</p>
            </div>
        </div>
      </nz-page-header-content>

      <div class="flex justify-between items-center w-full mb-4">
        <div class="flex items-center gap-2">
        <span class="text-lg font-semibold" i18n>All users</span>
        <span class="text-gray-500 font-medium">{{ users().length }}</span>
        </div>

        <div class="w-64">
          <nz-input-wrapper>
            <input
              placeholder="Search users"
              nz-input
              [(ngModel)]="inputValue"
              (ngModelchange)="onInput($event)"
              [nzAutocomplete]="auto"
            >
              <nz-icon nzInputSuffix nzType="search" />
          </nz-input-wrapper>
          <nz-autocomplete
            #auto
            [nzDataSource]="options()"
            nzBackfill>
          </nz-autocomplete>
        </div>


      </div>
      <nz-table
        #rowSelectionTable
        nzShowPagination
        nzShowSizeChanger
        [nzPageSizeOptions]="pageSizeOptions"
        [nzData]="users()"
        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"

      >
        <thead>
          <tr>
            <th i18n>Username</th>
            <th i18n>Permissions</th>
            <th i18n>Roles</th>
            <th i18n>Last active</th>
            <th i18n>Date added</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          @for (data of rowSelectionTable.data; track data) {

            <tr>
              <td>
                {{data.username}}
              </td>
              <td>
                <div class="badge-container">
                  @for (perm of data.permissions; track perm) {
                    <nz-tag [nzColor]="getPermissionColor(perm)" [ngClass]="'permissions-tag'">{{perm}}</nz-tag>
                  }
                </div>
              </td>
              <td>
                  <div class="badge-container">
                  @for (role of data.roles; track role) {
                    <nz-tag [nzColor]="getRoleColor(role)" [ngClass]="'roles-tag'">{{role}}</nz-tag>
                  }
                </div>
              </td>
              <td>
                {{data.lastActiveAt}}
              </td>
              <td>
                {{data.createdAt}}
              </td>
              <td>
                <a nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click">
                  <i class="fa-solid fa-ellipsis-vertical cursor-pointer"></i>
                </a>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu>
                    <li nz-menu-item (click)="viewUserProfile(data.id)">
                        <i nz-icon nzType="user"></i>
                        <span i18n>View profile</span>
                      </li>

                      <li nz-menu-item (click)="editUser(data.id)">
                        <i nz-icon nzType="edit"></i>
                        <span i18n>Edit permissions</span>
                      </li>

                      <li nz-menu-divider></li>

                      <li nz-menu-item nzDanger (click)="deleteUser(data.id)">
                        <i nz-icon nzType="delete"></i>
                        <span i18n>Delete user</span>
                      </li>
                  </ul>
                </nz-dropdown-menu>
              </td>

            </tr>
          }

        </tbody>

      </nz-table>
    </nz-content>


  </nz-layout>
</nz-layout>


